// ----------------------------------------------------------------------

// Generic: Base

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  08/06/2016
////

// Contents:
// * Base styles for HTML and BODY
// * Set up default font size
// * Optimise font rendering
// * Disable horizontal scroll
// * Expose css breakpoints to javascript
// * Highlighted text colors


// Base styles for HTML and BODY elements
$base-bg-color:     $c-light-1;
$base-text-color:   $c-dark ;
$base-font-family:  $g-font-sans;
$base-font-weight:  $g-weight-normal;
// Highlighted Text colors
$base-highlight-bg:           $c-primary-pale;
$base-highlight-color:        $base-text-color;
$base-input-highlight-bg:     $c-very-strong-trans-dark;
$base-input-highlight-color:  $base-text-color;

$body-antialiased: $g-body-antialiased;
$body-no-horizontal-scroll: $g-body-no-horizontal-scroll;


// * Base styles for HTML and BODY
html,
body {
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

html {
  background-color: $base-bg-color;

  color: $base-text-color;
  @include body-copy;
  font-family: $base-font-family;
  font-weight: $base-font-weight;

  background: url('../img/bg-animals-light.png') fixed;

}

body.Page {

  background: linear-gradient(to bottom,#fff 0, #d4e4ef 260px,#57a1cd 100%);
  max-width: $g-site-max-width;
  margin: 0 auto;
  position: relative;


  @include md {
    background: linear-gradient(to bottom,#d4e4ef 0, #d4e4ef 510px,#57a1cd 100%);
    min-height: 950px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1000px;
      background-image: url('../img/bg-clouds.png');
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 0;
    }

    @include lg {
      background: linear-gradient(to bottom,#d4e4ef 0, #d4e4ef 660px,#57a1cd 100%);
      &:after {
        top: -30px;
      }
    }

    @include xxl {
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,.5), -5px 5px 5px 5px rgba(0,0,0,.5);
      &:after {
        top: -70px;
      }
    }

  }

  // * Set up default font size
  @include body-copy;

  // * Optimise font rendering - set this in settings.global.scss
  @if $body-antialiased {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  // * Disable horizontal scroll
  @if $body-no-horizontal-scroll {
    overflow-x: hidden;
  }
  
  // * Expose css breakpoints to javascript
  // @link https://www.lullabot.com/articles/importing-css-breakpoints-into-javascript
  &:before {
    content: 'base';
    display: none;
  }
  @include xxs {
    &:before {
      content: 'xxs';
    }
  }
  @include xs {
    &:before {
      content: 'xs';
    }
  }
  @include sm {
    &:before {
      content: 'sm';
    }
  }
  @include md {
    &:before {
      content: 'md';
    }
  }
  @include lg {
    &:before {
      content: 'lg';
    }
  }
  @include xl {
    &:before {
      content: 'xl';
    }
  }
  @include xxl {
    &:before {
      content: 'xxl';
    }
  }
}

// * Highlighted text colors
@include selection {
  background-color: $base-highlight-bg;
  color: $base-highlight-color;
}

input,
textarea {
  @include selection(true) {
    background: $base-input-highlight-bg;
    color: $base-input-highlight-color;
  }
}
