@include md {

  .GlobalHeader {
    padding-top: 5rem;
  }

  .Nav {
    transform: none;
    transition: none;
    position: absolute;
    z-index: 190;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none;
    .NavMenu {
      opacity: 1;
      transition: none;
      li {
        display: inline-block;
        width: auto;
      }
      a {
        background: none;
      }
    }
  }

  .NavMenu.NavPrimary {
    position: absolute;
    top: 140px;
    width: 100%;
    margin: 0;
    li:first-child {
      width: 110px;
    }
    li:nth-child(2) {
      margin-right: 210px;
    }
    li:nth-child(3) {
      margin-left: 0px;
      width: 115px;
    }
    li:nth-child(4) {
      margin-left: 10px;
      width: 130px;
    }
  }

  .NavMenu.NavUtility {
    position: static;
    width: 100%;
    background: $c-primary url(../img/bg-pattern.png) repeat;
    padding: 0 0 0 5rem;
    margin: 0;
    text-align: right;
    font-size: 0;
    a {
      color: $c-light;
      border-right: 1px solid $c-light-4;
      border-radius: 0;
      padding: $g-spacer-sm $g-spacer;
      font-size: 1rem;
      &:hover,
      &:focus {
        background: $c-primary-pale;
      }
    }
    .is-active {
      a {
        background: $c-primary-pale;
      }
    }
    li:first-child {
      a {
        border-left: 1px solid $c-light-4;
      }
    }
    li:last-child {
      a {
        border-right: 0;
      }
    }
  }

  .NavToggle {
    display: none;
  }

  .HeaderBar {
    background: none;
    width: auto;
    z-index: 200;
  }

  .Location {
    color: $c-light;
    padding: $g-spacer-xs $g-spacer-sm;
    margin-top: -1px;
    &:hover, &:focus {
      color: $c-highlight-light;
    }
  }

}