// ----------------------------------------------------------------------

// Settings: Font Size

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  13/06/2016
////


$g-font-sans:      "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$g-font-sans2:     "Dekko", sans-serif;
//$g-font-serif:     "Slabo 27px", Georgia, Times, "Times New Roman", serif;
$g-font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace;

$g-weight-bold:   600;
$g-weight-normal: 400;
