@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: rotate(90deg) translateX(0);
    transform: rotate(90deg) translateX(0)
  }
  40% {
    -webkit-transform: rotate(90deg) translateX(-5px);
    transform: rotate(90deg) translateX(-5px)
  }
  60% {
    -webkit-transform: rotate(90deg) translateX(-3px);
    transform: rotate(90deg) translateX(-3px)
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: rotate(90deg) translateX(0);
    -ms-transform: rotate(90deg) translateX(0);
    transform: rotate(90deg) translateX(0)
  }
  40% {
    -webkit-transform: rotate(90deg) translateX(-5px);
    -ms-transform: rotate(90deg) translateX(-5px);
    transform: rotate(90deg) translateX(-5px)
  }
  60% {
    -webkit-transform: rotate(90deg) translateX(-3px);
    -ms-transform: rotate(90deg) translateX(-3px);
    transform: rotate(90deg) translateX(-3px)
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section,
main {
  display: block
}
object,
embed {
  max-width: 100%
}
html {
  word-wrap: break-word
}
blockquote,
q {
  quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
del {
  text-decoration: line-through
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
th {
  font-weight: bold;
  vertical-align: bottom
}
td {
  font-weight: normal;
  vertical-align: top
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}
input,
select {
  vertical-align: middle
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word
}
input[type="radio"] {
  vertical-align: text-bottom
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline
}
.ie6 input {
  vertical-align: text-bottom
}
select,
input,
textarea {
  font: 99% sans-serif
}
table {
  font-size: inherit;
  font: 100%
}
a:hover,
a:active {
  outline: none
}
small {
  font-size: 85%
}
strong,
th {
  font-weight: bold;
  font-weight: 700
}
td,
td img {
  vertical-align: top
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative
}
sup {
  top: -0.5em
}
sub {
  bottom: -0.25em
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif
}
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer
}
button,
input,
select,
textarea {
  margin: 0
}
button {
  width: auto;
  overflow: visible
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden
}
.clearfix:after {
  clear: both
}
.clearfix {
  zoom: 1
}
.hidden,
.hide {
  display: none
}
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #620032;
  opacity: 0.95;
  filter: alpha(opacity=95)
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle
}
.mfp-align-top .mfp-container:before {
  display: none
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto
}
.mfp-ajax-cur {
  cursor: progress
}
.mfp-auto-cursor .mfp-content {
  cursor: auto
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}
.mfp-loading.mfp-figure {
  display: none
}
.mfp-hide {
  display: none !important
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044
}
.mfp-preloader a {
  color: #cccccc
}
.mfp-preloader a:hover {
  color: white
}
.mfp-s-ready .mfp-preloader {
  display: none
}
.mfp-s-error .mfp-content {
  display: none
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none
}
button::-moz-focus-inner {
  padding: 0;
  border: 0
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 74px;
  font-family: Arial, Baskerville, monospace
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100)
}
.mfp-close:active {
  top: 1px
}
.mfp-close-btn-in .mfp-close {
  color: white
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px
}
.mfp-arrow {
  position: absolute;
  opacity: 1;
  filter: alpha(opacity=100);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.mfp-arrow:active {
  margin-top: -54px
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100)
}
.mfp-arrow-left {
  left: 0
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f
}
.mfp-arrow-right {
  right: 0
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px
}
.mfp-iframe-holder .mfp-close {
  top: -40px
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black
}
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto
}
.mfp-figure {
  line-height: 0
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px
}
.mfp-figure figure {
  margin: 0
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px
}
.mfp-image-holder .mfp-content {
  max-width: 100%
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer
}
@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75)
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px
  }
}
.mfp-ie7 .mfp-img {
  padding: 0
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px
}
.mfp-ie7 .mfp-container {
  padding: 0
}
.mfp-ie7 .mfp-content {
  padding-top: 44px
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.95
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0
}
.mfp-align-top {
  top: 0px
}
.mfp-align-top .mfp-content {
  padding-top: 200px
}
@media screen and (max-width: 568px) {
  .mfp-align-top .mfp-content {
    padding-top: 0
  }
}
html.mfp-open #bar-nav {
  z-index: 1050;
  position: absolute;
  width: 100%
}
.mfp-close:after {
  content: ""
}
.popup-container {
  position: relative;
  color: #FFF
}
@media screen and (max-width: 568px) {
  .mfp-container {
    padding: 20px
  }
}
.mfp-open-gallery .mfp-bg {
  background: #000;
  opacity: 0.85
}
.mfp-open-gallery .mfp-close {
  font-size: 40px
}
.mfp-arrow {
  width: 60px
}
.mfp-arrow:after {
  border: none;
  color: #fff;
  font-size: 70px;
  font-size: 7rem;
  font-weight: bold
}
.mfp-arrow-left:after {
  content: "\2039"
}
.mfp-arrow-left {
  left: -70px
}
.mfp-arrow-right {
  right: -70px
}
.mfp-title {
  font-family: "Minion Pro", "Minion W08 Display", "Times New Roman";
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem
}
.mfp-bottom-bar {
  margin-top: -20px
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
html {
  min-height: 100%;
  position: relative;
  font-size: 62.5%
}
body {
  background: #fff;
  margin: 0;
  font-family: "Avenir Next W01", Helvetica, Arial;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 550px
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  zoom: 1;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 5%
}
.container:before,
.container:after {
  content: "";
  display: table
}
.container:after {
  clear: both
}
main.container {
  margin-top: 40px
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin-bottom: 20px
}
h1,
h2,
h3,
h4,
figure {
  position: relative
}
h1 {
  font-size: 36px;
  font-size: 3.6rem
}
h2 {
  font-size: 24px;
  font-size: 2.4rem
}
h3 {
  font-size: 21px;
  font-size: 2.1rem
}
h4 {
  font-size: 18px;
  font-size: 1.8rem
}
h5 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px
}
figure.left {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px
}
figure.right {
  float: right;
  margin-left: 30px;
  margin-bottom: 10px
}
figure img {
  max-width: 100%;
  min-width: 50%;
  display: block
}
iframe {
  max-width: 100%
}
@media screen and (max-width: 568px) {
  figure img {
    width: 100%
  }
}
img {
  margin-bottom: 5px
}
strong,
b {
  font-weight: 600;
  font-style: normal
}
article,
form {
  margin-bottom: 40px;
  zoom: 1
}
article:before,
article:after,
form:before,
form:after {
  content: "";
  display: table
}
article:after,
form:after {
  clear: both
}
article img {
  max-width: 100%
}
article ~ .further-content {
  padding-top: 40px;
  border-top: 1px solid #dddddd
}
blockquote {
  font-family: "Minion Pro", "Minion W08 Display", "Times New Roman";
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  font-size: 1.8rem;
  color: #882345
}
.drop_cap {
  float: left;
  font-family: "Minion Pro", "Minion W08 Display", "Times New Roman";
  font-weight: 400;
  color: #882345;
  font-size: 72px;
  font-size: 7.2rem;
  line-height: 66px;
  line-height: 6.6rem;
  padding: 0 13px 0 0
}
.intro {
  font-size: 18px;
  font-size: 1.8rem
}
ul,
p,
table,
figure,
address,
blockquote {
  margin: 0 0 15px
}
ul {
  margin-left: 20px
}
dt {
  font-weight: bold;
  display: block;
  margin-right: 5px;
  float: left;
  clear: left
}
dd {
  display: block;
  float: left
}
address {
  font-family: "Avenir Next W01", Helvetica, Arial;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: normal
}
a {
  text-decoration: none;
  color: #882345
}
a:hover,
a:focus,
a:active {
  color: #2088d1;
  text-decoration: none
}
article a {
  color: #2088d1
}
article a:hover {
  text-decoration: underline
}
table {
  width: 100%;
  border: 1px solid #BBB;
  border-collapse: collapse
}
th {
  text-align: left;
  background: #eaeaea;
  color: #2a2a29
}
th,
td {
  border: 1px solid #BBB;
  padding: 6px 11px
}
object,
object>img {
  width: 100%
}
.popup {
  display: none
}
.popup-container {
  max-width: 744px;
  margin: 0 auto;
  zoom: 1
}
.popup-container:before,
.popup-container:after {
  content: "";
  display: table
}
.popup-container:after {
  clear: both
}
.date {
  color: #5d6067;
  display: block;
  margin-bottom: 15px
}
.more {
  margin-bottom: 10px
}
.more-pull {
  float: right;
  font-size: 18px;
  font-size: 1.8rem
}
.more-pull+h2 {
  float: left
}
.more a {
  text-decoration: none;
  line-height: 15px;
  line-height: 1.5rem;
  font-weight: 600
}
.more a:after {
  display: inline-block;
  content: "\203A";
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 26px;
  font-size: 2.6rem;
  vertical-align: -10%;
  padding-top: 5px;
  margin-left: 10px;
  color: #882345
}
.more a:hover:after {
  color: #2088d1
}
.back-button a {
  display: block;
  padding: 15px 45px;
  background: #eee url(/assets/icon_back-button-f1e00b327b13bbb4beeaad8c206fa255.png) no-repeat 13px 50%;
  color: #2088d1
}
.btn a,
button,
input[type="submit"] {
  background: #fff;
  border: none;
  display: inline-block;
  position: relative;
  color: #882345;
  border: 1px solid #882345;
  text-decoration: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 15px 60px 15px 15px
}
.btn a:hover,
button:hover,
input[type="submit"]:hover {
  border-color: #2088d1;
  color: #2088d1
}
.btn a:hover:after,
button:hover:after,
input[type="submit"]:hover:after {
  color: #2088d1
}
.btn a:after,
button:after,
input[type="submit"]:after {
  color: #882345;
  font-size: 30px;
  font-size: 3rem;
  line-height: 18px;
  line-height: 1.8rem;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  content: "\203A";
  position: absolute;
  right: 20px
}
.doc-list {
  margin: 0;
  list-style: none
}
.doc-list li {
  margin-bottom: 10px
}
a.doc {
  padding: 5px 0 5px 30px;
  display: inline-block;
  background: url(/assets/icon_doc-8be855e584f032489ac063306d7d91b5.png) no-repeat 0 50%
}
label {
  margin-bottom: 5px;
  display: inline-block
}
textarea,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="file"],
input[type="date"],
input[type="email"],
input[type="password"] {
  font-family: "Avenir Next W01", Helvetica, Arial;
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: middle;
  background: #fff
}
textarea:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="file"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background: #fff;
  outline: none;
  box-shadow: none
}
textarea.field_with_error,
input[type="text"].field_with_error,
input[type="tel"].field_with_error,
input[type="url"].field_with_error,
input[type="file"].field_with_error,
input[type="date"].field_with_error,
input[type="email"].field_with_error,
input[type="password"].field_with_error {
  border-color: #2989CE
}
textarea:focus,
input[type="text"]:focus,
input[type="url"]:focus {
  outline: 0
}
textarea {
  min-height: 200px
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 10px 0 0;
  line-height: normal;
  float: left
}
.radio_buttons>label {
  display: block;
  font-weight: 700;
  margin-bottom: 20px
}
.radio_buttons span {
  display: block;
  margin: 0 0 20px
}
.radio_buttons input[type='radio'],
.radio_buttons input[type='checkbox'] {
  opacity: 0;
  float: left;
  width: 18px
}
.radio_buttons input[type='radio']+label,
.radio_buttons input[type='checkbox']+label {
  display: block;
  clear: none;
  padding: 5px 0 4px 45px;
  cursor: pointer;
  background: url(/assets/icon_radios-d8b16036c58cbc0831699242250e6d93.png) no-repeat 0 0
}
.radio_buttons input[type='radio']:checked+label,
.radio_buttons input[type='checkbox']:checked+label {
  background: url(/assets/icon_radios-d8b16036c58cbc0831699242250e6d93.png) no-repeat 0 100%
}
.radio_buttons input[type='checkbox']+label {
  background: url(/assets/icon_checkboxes-872e9afe777c065d39be603d224ef932.png) no-repeat 0 0
}
.radio_buttons input[type='checkbox']:checked+label {
  background: url(/assets/icon_checkboxes-872e9afe777c065d39be603d224ef932.png) no-repeat 0 -151px
}
.select {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #fff url(/assets/bg_select-843831ecacf5a22eecc8292eb211a03c.png) no-repeat 100% 50%;
  cursor: pointer
}
.select select {
  font-family: "Avenir Next W01", Helvetica, Arial;
  width: 100%;
  background: transparent;
  padding: 0.75em;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  color: #5d6067
}
.dob_select select {
  width: 30%
}
.alert-title {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 800;
  display: block;
  text-transform: uppercase;
  margin-bottom: 30px
}
#global-alert {
  position: relative
}
#global-alert>figure {
  width: 100%;
  top: -130px;
  position: absolute;
  text-align: center
}
#global-alert>figure>img {
  width: auto;
  min-width: 0;
  display: inline
}
#global-alert p {
  font-size: 26px;
  font-size: 2.6rem
}
#global-alert h1 {
  font-weight: 800;
  margin-bottom: 5px
}
#global-alert .date {
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Minion Pro", "Minion W08 Display", "Times New Roman";
  font-style: italic
}
#global-alert a {
  color: #2088d1
}
#global-alert a:hover {
  text-decoration: underline
}
#notfound {
  margin: 30px 0 60px;
  text-align: center
}
#notfound .fourzerofour {
  font-size: 100px;
  font-size: 10rem;
  line-height: 60px;
  line-height: 6rem;
  font-family: "Minion Pro", "Minion W08 Display", "Times New Roman";
  color: #882345;
  margin-bottom: 10px
}
.cols,
.cols_2 {
  zoom: 1;
  position: relative;
  list-style: none;
  clear: both;
  padding: 0
}
.cols:before,
.cols:after,
.cols_2:before,
.cols_2:after {
  content: "";
  display: table
}
.cols:after,
.cols_2:after {
  clear: both
}
.cols>ul,
.cols_2>ul {
  margin: 0
}
.cols>*,
.cols_2>* {
  float: left;
  margin-left: 6.4%;
  margin-bottom: 30px
}
.cols>*.right,
.cols_2>*.right {
  float: right
}
.cols>*:first-child,
.cols_2>*:first-child {
  margin-left: 0
}
.cols_2>div:first-child {
  margin-left: 0
}
.cols_2>div,
.cols_2>li {
  float: left;
  width: 46.8%;
  margin-bottom: 50px
}
.cols.cols_3>* {
  width: 30.39773%;
  margin-left: 4.26136%;
  margin-bottom: 30px
}
.cols.cols_3>*:first-child {
  margin-left: 0
}
.col_1-1 {
  width: 100%;
  clear: both;
  padding-left: 0;
  margin-left: 0;
  border: none
}
.col_1-3 {
  width: 22.9%
}
.col_2-3 {
  width: 70.7%
}
.grid {
  margin: 0;
  margin-top: 30px
}
.grid h2 {
  margin-bottom: 10px;
  min-height: 72px
}
.grid img {
  width: 100%
}
@media screen and (max-width: 960px) {
  .grid h2 {
    min-height: 0
  }
}
.grid li ul {
  list-style: none;
  margin: 0
}
.grid.cols_3>li:nth-child(3n+1) {
  margin-left: 0;
  clear: left
}
.thick-cols>* {
  float: left;
  margin-left: 4.4044%;
  padding-left: 4.4044%;
  border-left: 1px solid #dddddd;
  margin-bottom: 30px
}
.thick-cols>*.right {
  float: right
}
.thick-cols>*:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0
}
.thick-cols .col_2-3 {
  width: 68.06807%
}
.thick-cols .col_1-3 {
  width: 27.52753%
}
.thick-cols .col_1-2:first-child {
  width: 43.59352%
}
.thick-cols .col_1-2 {
  margin-left: 6.48012%;
  padding-left: 6.48012%;
  width: 49.92636%
}
.thick-cols .module {
  zoom: 1;
  padding: 40px 0 30px;
  border-bottom: 1px solid #dddddd
}
.thick-cols .module:before,
.thick-cols .module:after {
  content: "";
  display: table
}
.thick-cols .module:after {
  clear: both
}
@media screen and (max-width: 960px) {
  .thick-cols .col_2-3 {
    width: 100%
  }
  .thick-cols .col_1-3 {
    padding-left: 0;
    width: 100%
  }
  .thick-cols .col_1-3 .module {
    float: left;
    width: 30%;
    margin-left: 4%
  }
  .thick-cols .col_1-3>div:nth-child(3n+1) {
    margin-left: 0;
    clear: left
  }
}
@media screen and (max-width: 960px) {
  .cols>* {
    float: none;
    margin-left: 0;
    width: 100%
  }
  .cols>*.right {
    float: none
  }
  .cols.cols_3>* {
    width: 47.86932%;
    margin-left: 4.26136%;
    margin-bottom: 30px;
    float: left
  }
  .cols.cols_3>*:first-child {
    margin-left: 0
  }
  .grid.cols_3>li:nth-child(3n+1) {
    margin-left: 4.26136%;
    clear: none
  }
  .grid.cols_3>li:nth-child(2n+1) {
    clear: left;
    margin-left: 0
  }
}
@media screen and (max-width: 568px) {
  .thick-cols>* {
    border: none
  }
  .thick-cols>* .module {
    padding: 20px 0
  }
  .cols>* {
    float: none;
    margin-left: 0 !important;
    width: 100% !important
  }
  .cols>*.right {
    float: none
  }
  .thick-cols .col_1-3 .module {
    float: none;
    width: 100%;
    margin-left: 0
  }
}
body.tray-open {
  left: -100%
}
#page-header {
  height: 85px;
  margin-top: 110px
}
.mobile-home {
  display: none
}
.menu-toggle {
  display: none
}
.menu-toggle-open {
  width: 100%;
  background: #882345;
  border: 0;
  text-align: center;
  z-index: 500;
  height: 40px;
  font-size: 15px;
  font-size: 1.5rem;
  outline: none;
  padding: 0
}
.menu-toggle-open:after {
  content: ""
}
.menu-toggle-open span {
  color: #fff;
  padding-right: 45px;
  background: transparent url(/assets/icon_menu-975d1e95f3765ac2c54c9091927711a5.png) no-repeat 100% 50%;
  display: inline-block
}
.menu-toggle-close {
  display: none;
  background: none;
  border: none;
  padding: 0;
  height: 40px;
  width: 40px;
  top: 20px;
  text-align: center;
  line-height: 40px;
  line-height: 4rem;
  left: 10px;
  color: #fff;
  position: absolute;
  font-size: 30px;
  font-size: 3rem
}
.menu-toggle-close:after {
  content: none
}
.menu-toggle-close:hover {
  color: #fff
}
#bar-nav {
  zoom: 1;
  background: #882345;
  margin-bottom: 70px;
  position: absolute;
  top: 0;
  width: 100%
}
#bar-nav:before,
#bar-nav:after {
  content: "";
  display: table
}
#bar-nav:after {
  clear: both
}
#bar-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-size: 1.3rem;
  display: block;
  padding: 10px 0
}
#bar-nav a:hover {
  background: #781f3d
}
#bar-nav .active a {
  background: #620030
}
#bar-nav ul {
  list-style: none;
  margin: 0
}
#bar-nav nav>ul>li {
  float: left;
  position: relative;
  text-align: center;
  border-right: 1px solid #620030;
  width: 14.375%
}
#bar-nav nav>ul>li:first-child {
  border-left: 1px solid #620030
}
#bar-nav .contact {
  width: 8.85417%
}
#bar-nav .search {
  width: 4.6875%;
  background: #620030
}
#bar-nav .search a {
  display: block;
  text-indent: -9999em;
  background: url(/assets/icon_search-0033e4e588910de6eb310f2b08570cda.png) no-repeat 50% 50%
}
#bar-nav .sub-nav {
  display: none
}
#bar-nav .active>.sub-nav {
  display: block
}
#bar-nav .sub-nav {
  position: absolute;
  z-index: 10;
  margin-left: -1px;
  border-top: 1px solid #882345;
  width: calc(100% + 2px)
}
#bar-nav .sub-nav a {
  background: #620030;
  width: 100%
}
#bar-nav .sub-nav a:hover {
  background: #882345
}
#schools-nav {
  height: 85px;
  background: #fff;
  margin: 0px 0 0;
  padding: 25px 0 10px;
  zoom: 1
}
#schools-nav:before,
#schools-nav:after {
  content: "";
  display: table
}
#schools-nav:after {
  clear: both
}
#page-header-wrap {
  height: 85px
}
.docked #schools-nav {
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  border-bottom: 1px solid #dddddd;
  overflow: hidden
}
#schools-nav a {
  text-decoration: none;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600
}
#schools-nav .active a,
#schools-nav .active {
  color: #2088d1
}
@media screen and (max-width: 960px) {
  #schools-nav .active a,
  #schools-nav .active {
    background: #781F3D;
    color: #fff;
    padding-left: 10px;
    margin-left: -10px
  }
}
#schools-nav ul {
  list-style: none;
  margin: 0
}
#schools-nav li {
  float: left;
  text-align: center;
  width: 20%
}
#schools-nav #logo {
  position: relative;
  display: inline-block;
  height: 110px;
  margin-top: -65px;
  width: 20%;
  text-align: center
}
#schools-nav #logo a {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 110px;
  background: url(/assets/logo-4c3c66771fe36b3320c0b3f47a6cb0f7.png) no-repeat 50% 0;
  text-indent: -9999em
}
.docked #schools-nav #logo a {
  margin-top: 56px
}
.breadcrumb {
  clear: both;
  margin-top: 30px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 12px 0
}
.breadcrumb ul {
  list-style: none;
  margin: 0
}
.breadcrumb li {
  display: inline-block
}
.breadcrumb .divider {
  display: inline-block;
  margin: 0 10px
}
@media screen and (max-width: 960px) {
  .breadcrumb {
    margin-top: 0
  }
}
#search input[type="text"] {
  border: 1px solid #fff;
  background: none;
  font-size: 30px;
  font-size: 3rem;
  padding: 10px;
  color: #fff;
  float: left;
  width: 91.39785%;
  border-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}
#search input[type="submit"] {
  width: 8.60215%;
  float: left;
  border: 1px solid #fff;
  background: none;
  padding: 0;
  height: 57px;
  text-indent: -9999em;
  background: url(/assets/icon_search_med-e9bc81ce0c9103cbbc6fb8d0ae5191e9.png) no-repeat 50% 50%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}
@media screen and (max-width: 960px) {
  #page-header .container {
    padding: 0
  }
  body {
    padding-top: 25px
  }
  .docked #schools-nav {
    position: static
  }
  .docked .menu-toggle {
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0
  }
  .docked .menu-toggle-close {
    display: none
  }
  .tray-open .menu-toggle-close {
    display: block
  }
  #page-header {
    margin-top: 0;
    text-align: center
  }
  .menu-toggle {
    display: inline-block
  }
  .mobile-home {
    display: inline-block;
    text-align: center
  }
  #page-header-wrap {
    display: block;
    background: #882345;
    position: fixed;
    top: 0;
    height: 100%;
    padding: 100px 20px 20px;
    width: 100%;
    z-index: 1040;
    right: -100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
  }
  .tray-open #page-header-wrap {
    right: 0
  }
  #page-header {
    height: 145px
  }
  #page-header-wrap.open {
    display: block
  }
  #bar-nav {
    position: static;
    width: 45%;
    float: right
  }
  #bar-nav .sub-nav {
    display: none !important
  }
  #bar-nav nav>ul>li,
  #bar-nav nav>ul>li:first-child {
    width: 100%;
    float: none;
    text-align: left;
    border: none
  }
  #bar-nav nav>ul>li a,
  #bar-nav nav>ul>li:first-child a {
    padding: 10px
  }
  #bar-nav .container {
    padding: 0
  }
  #schools-nav #logo {
    display: none
  }
  #schools-nav {
    padding: 0;
    background: none;
    width: 45%;
    float: left;
    height: auto
  }
  #schools-nav ul {
    border-top: 1px solid #A0516A
  }
  #schools-nav li {
    width: auto;
    float: none;
    text-align: left;
    border-bottom: 1px solid #A0516A
  }
  #schools-nav a {
    display: block;
    padding: 10px 0;
    color: #fff
  }
  #bar-nav .contact {
    width: 100%
  }
  #bar-nav .search {
    width: 100%;
    margin-top: 10px;
    background: none;
    border: none
  }
  #bar-nav .search>a {
    display: none;
    text-indent: 0;
    background-position: calc(100% - 20px) 50%
  }
  #bar-nav .search .popup {
    display: block
  }
  #search h1 {
    display: none
  }
  #search input[type="text"] {
    font-size: 15px;
    font-size: 1.5rem;
    width: 85%;
    padding: 10px;
    border-right: 0
  }
  #search input[type="submit"] {
    width: 15%;
    height: 40px;
    background: url(/assets/icon_search-0033e4e588910de6eb310f2b08570cda.png) no-repeat 50% 50%
  }
}
@media screen and (max-width: 568px) {
  #page-header-wrap {
    padding-top: 60px
  }
  #bar-nav nav>ul>li a,
  #bar-nav nav>ul>li:first-child a {
    padding: 8px 0px
  }
  #bar-nav nav>ul>li a:hover,
  #bar-nav nav>ul>li:first-child a:hover {
    background-color: transparent
  }
  #schools-nav {
    margin-bottom: 10px
  }
  #bar-nav .search a {
    text-indent: 10px
  }
  .menu-toggle-close {
    top: 10px
  }
  #bar-nav,
  #schools-nav {
    width: 100%;
    float: none
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  body {
    padding-top: 15px
  }
  #page-header {
    height: 135px
  }
  #page-header .mobile-home {
    margin-bottom: 5px
  }
}
.subpages ul {
  margin: 0;
  list-style: none
}
.subpages>ul {
  border-top: 1px solid #dddddd
}
.subpages>ul>li>a {
  display: block;
  padding: 12px 0;
  border-bottom: 1px solid #dddddd
}
.subpages .sub-subpages {
  padding-top: 12px;
  margin: 0
}
.subpages .sub-subpages a {
  color: #241F20;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 30px;
  line-height: 3rem
}
.subpages .sub-subpages a:hover {
  color: #2088d1
}
.nav-dropdown {
  padding: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  display: block;
  border: 1px solid #ccc;
  background: #fff url(/assets/bg_select-843831ecacf5a22eecc8292eb211a03c.png) no-repeat 100% 50%;
  width: 100%;
  cursor: pointer
}
.nav-dropdown:hover {
  color: #882345;
  text-decoration: none
}
.subpages .active>a {
  color: #2088d1
}
.subpages .subnav-open {
  padding-bottom: 12px;
  border-bottom: 1px solid #dddddd
}
.subpages .subnav-open>a {
  padding-bottom: 0;
  border-bottom: 0;
  color: #2088d1
}
@media screen and (min-width: 960px) {
  .nav-dropdown {
    display: none
  }
}
@media screen and (max-width: 960px) {
  .subpages ul {
    display: none
  }
  .subpages>ul {
    border-top: none
  }
  .subpages>ul>li>a {
    padding-left: 10px;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd
  }
  .subpages .subnav-open {
    padding: 0
  }
  .subpages .subnav-open>a {
    padding-bottom: 12px
  }
}
#page-footer {
  display: block;
  position: absolute;
  bottom: 0;
  list-style: 0;
  width: 100%;
  height: 550px;
  background: #620030;
  color: #fff;
  padding: 50px 0 0
}
#page-footer>div {
  position: relative;
  height: 100%
}
#page-footer a {
  color: #fff
}
#page-footer .cols>div {
  margin-bottom: 0
}
#page-footer dl {
  font-family: "Avenir Next W01", Helvetica, Arial;
  font-size: 15px;
  font-size: 1.5rem
}
@media screen and (max-width: 568px) {
  #page-footer dl {
    margin-bottom: 30px
  }
}
#page-footer dt {
  font-weight: 600
}
#page-footer .col_1-3 {
  zoom: 1;
  width: 29.0%
}
#page-footer .col_1-3:before,
#page-footer .col_1-3:after {
  content: "";
  display: table
}
#page-footer .col_1-3:after {
  clear: both
}
#page-footer h4 {
  font-weight: 600
}
#page-footer address {
  margin-bottom: 80px
}
@media screen and (max-width: 568px) {
  #page-footer address {
    margin-bottom: 20px
  }
}
#page-footer p {
  margin-bottom: 25px
}
#footer-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Avenir Next W01", Helvetica, Arial;
  font-size: 13px;
  font-size: 1.3rem
}
#footer-nav>.container {
  padding: 35px 0 40px;
  border-top: 1px solid #813659
}
#footer-nav ul {
  margin: 0;
  list-style: none;
  float: left
}
@media screen and (max-width: 568px) {
  #footer-nav ul {
    margin-bottom: 10px
  }
}
#footer-nav .copyright {
  float: right;
  margin: 0
}
#footer-nav .copyright span {
  display: inline-block;
  padding-left: 10px;
  border-left: 2px solid #DCD1D5;
  line-height: 1.5rem;
  margin-left: 10px
}
#footer-nav li {
  display: inline-block;
  padding-right: 10px;
  border-right: 2px solid #DCD1D5;
  margin-right: 7px;
  line-height: 15px;
  line-height: 1.5rem
}
#footer-nav li:last-child {
  border-right: none
}
.connect-list {
  zoom: 1;
  list-style: none;
  margin: 0 0 30px;
  padding: 0
}
.connect-list:before,
.connect-list:after {
  content: "";
  display: table
}
.connect-list:after {
  clear: both
}
.connect-list li {
  float: left;
  margin-right: 15px
}
.connect-list a {
  display: block;
  height: 40px;
  width: 40px;
  text-indent: -9999em;
  background-position: 0 40px
}
.connect-list a:hover {
  background-position: 0 0px
}
.connect-list .twitter a {
  background-image: url(/assets/icon_twitter-9ca0c62efc33a7aed0d473fc32ca5a55.png)
}
.connect-list .facebook a {
  background-image: url(/assets/icon_facebook-271d544af0bb401801903cd116e80d3f.png)
}
.connect-list .gplus a {
  background-image: url(/assets/icon_gplus-f9da8ab42734388784a33a84483757f4.png)
}
@media screen and (max-width: 1100px) {
  #footer-nav .container {
    padding: 35px 5% 40px
  }
}
@media screen and (max-width: 960px) {
  body {
    margin-bottom: 0
  }
  #footer-nav .container {
    padding: 35px 0 40px
  }
  #footer-nav,
  #page-footer {
    position: static;
    height: auto
  }
  #footer-nav .cols>div,
  #page-footer .cols>div {
    margin-bottom: 20px
  }
  #footer-nav .copyright,
  #page-footer .copyright {
    float: none;
    text-align: left
  }
}
@media screen and (min-width: 568px) and (max-width: 960px) {
  #page-footer .col_1-3 {
    width: 50%;
    float: left
  }
}
.share {
  position: relative
}
.share a {
  display: inline-block;
  font-family: "Minion Pro", "Minion W08 Display", "Times New Roman";
  background: url(/assets/icon_share-e8d942594a0f812f7a489cb70467e715.png) no-repeat 15px 13px;
  padding: 10px 10px 8px 50px;
  width: 140px;
  border: 1px solid #fff
}
.share-list {
  position: absolute;
  bottom: 45px;
  left: -10px;
  background: #620030;
  padding: 10px 10px 5px 10px;
  list-style: none;
  margin: 0
}
.share-list li {
  margin-bottom: 5px
}
.share-list li a {
  width: 180px
}
.share-list.fadeInUp {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
#social-plugins {
  margin-top: 30px
}
#social-plugins>div,
#social-plugins iframe {
  display: block;
  float: left;
  margin-right: 10px
}
#social-plugins table {
  color: #fff !important
}
#social-plugins #twitter-widget-0 {
  vertical-align: top
}
#page-footer .twitter-widget {
  margin-bottom: 35px;
  min-height: 130px
}
#page-footer .twitter-widget a {
  text-decoration: underline
}
#page-footer .twitter-widget p {
  margin-bottom: 5px
}
.slick-prev:after {
  content: "\2039";
  right: 0;
  left: 20px
}
.slick-prev:after,
.slick-next:after {
  font-size: 40px;
  font-size: 4rem;
  line-height: 0;
  color: #fff
}
#gallery {
  position: relative
}
#gallery>.slides {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0
}
#gallery>.slides .slick-prev,
#gallery>.slides .slick-next {
  margin-top: -40px
}
#gallery>.slides .slide {
  height: 100%;
  background-position: 50% 0%;
  background-size: cover
}
#gallery .slick-list,
#gallery .slick-track {
  height: 100%
}
@media screen and (max-width: 640px) {
  #gallery,
  #gallery>.slides {
    height: 200px
  }
}
#statement_slider {
  margin: 0;
  position: absolute;
  bottom: 60px;
  z-index: 1000;
  width: 100%
}
#statement_slider .slides {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px 140px;
  color: #fff
}
#statement_slider h4 {
  font-family: "Minion Pro", "Minion W08 Display", "Times New Roman";
  font-style: italic;
  margin: 0;
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: normal
}
#statement_slider a {
  color: #fff;
  font-family: "Avenir Next W01", Helvetica, Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem
}
#statement_slider a:hover {
  color: #2088d1;
  text-decoration: none
}
#statement_slider a:hover:after {
  color: #2088d1
}
#statement_slider a:after {
  color: #fff
}
@media screen and (max-width: 640px) {
  #statement_slider {
    position: static;
    display: block
  }
  #statement_slider .slides {
    background: none;
    padding: 0;
    margin-top: 15px
  }
  #statement_slider h4 {
    font-size: 16px;
    font-size: 1.6rem
  }
  #statement_slider .slides>div {
    display: none
  }
  #statement_slider .slides>div:first-child {
    display: block;
    color: #882345
  }
}
p.explore {
  position: absolute;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  bottom: -1px;
  z-index: 1005;
  left: 0;
  margin: 0;
  width: 100%;
  text-align: center
}
@media screen and (max-width: 568px) {
  p.explore {
    display: none
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  p.explore {
    display: none
  }
}
p.explore>a {
  display: block;
  background: #fff;
  width: 100%;
  padding: 10px 0 20px
}
p.explore>a:after {
  position: absolute;
  bottom: 0px;
  bottom: -10px;
  font-size: 30px;
  font-size: 3rem;
  content: "\203A";
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: -35px;
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
  text-align: center
}
p.explore>a:hover {
  text-decoration: none
}
p.explore>a:hover:after {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
#news-cols {
  width: 100%;
  border-bottom: 1px solid #dddddd
}
#news-cols>div {
  float: left;
  padding-top: 40px;
  margin-left: 4.4044%;
  padding-left: 4.4044%;
  border-left: 1px solid #dddddd;
  margin-bottom: 30px
}
#news-cols>*:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0
}
.news-content {
  margin: 0;
  list-style: none
}
.news-content li {
  margin-bottom: 30px
}
.news-content h5 {
  margin-bottom: 5px
}
.module.contact_us h4 {
  margin-bottom: 5px
}
@media screen and (max-width: 960px) {
  #home_cols .contact_us {
    clear: left;
    margin-left: 0
  }
}
@media screen and (max-width: 568px) {
  #news-cols>div {
    padding: 0;
    margin-left: 0;
    border: none
  }
}
#perfectly_balanced {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 40px;
  margin-bottom: 20px;
  text-align: center
}
#perfectly_balanced img {
  text-align: center;
  display: inline-block
}
@media screen and (max-width: 568px) {
  #perfectly_balanced {
    display: none
  }
}
#perfectly_balanced a {
  color: #882345
}
#map_wrapper {
  width: 55.2%;
  float: left;
  margin-left: 2.4%
}
@media screen and (max-width: 960px) {
  #map_wrapper {
    width: 100%;
    margin-left: 0
  }
}
#map {
  height: 510px;
  width: 100%;
  margin-bottom: 20px
}
#contact-details {
  width: 42.4%;
  float: left
}
#contact-details h2 {
  color: #882345
}
#contact-details .address {
  width: 54.71698%;
  margin-bottom: 20px
}
#contact-details .telephone {
  width: 39.62264%;
  margin-left: 5.66038%;
  font-size: 18px;
  font-size: 1.8rem
}
#contact-details .telephone span {
  margin-bottom: 10px
}
#contact-details .email {
  clear: both
}
#contact-details .address,
#contact-details .telephone {
  float: left
}
#contact-details .details {
  padding-bottom: 30px;
  margin-bottom: 30px
}
#contact-details .details:first-child {
  border-bottom: 1px solid #dddddd
}
#contact-details .details span {
  display: block
}
#contact-details strong {
  font-size: 18px;
  font-size: 1.8rem;
  display: block
}
#contact-details.cols_2 {
  width: 100%
}
#contact-details.cols_2 .details:first-child {
  border-bottom: none
}
#enquiry_form {
  zoom: 1;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 2px solid #dddddd
}
#enquiry_form .col {
  width: 65%
}
#enquiry_form>h2 {
  color: #882345;
  margin-bottom: 30px
}
#enquiry_form:before,
#enquiry_form:after {
  content: "";
  display: table
}
#enquiry_form:after {
  clear: both
}
#enquiry_form fieldset {
  width: 55.2%;
  float: left
}
#enquiry_form .enquiry_nature {
  width: 42.4%;
  margin-left: 0;
  margin-bottom: 40px;
  line-height: 20px;
  line-height: 2rem
}
#enquiry_form .enquiry_nature h4 {
  margin-top: 40px
}
#enquiry_form fieldset.main {
  margin-left: 2.4%
}
#enquiry_form .main>div {
  zoom: 1;
  margin-bottom: 20px
}
#enquiry_form .main>div:before,
#enquiry_form .main>div:after {
  content: "";
  display: table
}
#enquiry_form .main>div:after {
  clear: both
}
#enquiry_form label {
  font-size: 16px;
  font-size: 1.6rem;
  color: #5d6067
}
#enquiry_form .main>div>label {
  width: 34.78261%;
  display: block;
  float: left;
  line-height: 40px;
  line-height: 4rem
}
#enquiry_form .main input[type="text"],
#enquiry_form .main input[type="email"],
#enquiry_form .main input[type="date"] {
  width: 65.21739%;
  display: block;
  float: left
}
#enquiry_form .main .radio_buttons {
  width: 65.21739%;
  zoom: 1;
  float: left
}
#enquiry_form .main .radio_buttons:before,
#enquiry_form .main .radio_buttons:after {
  content: "";
  display: table
}
#enquiry_form .main .radio_buttons:after {
  clear: both
}
#enquiry_form .main .radio_buttons span {
  float: left;
  margin-right: 30px
}
#enquiry_form form p {
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 30px
}
#enquiry_form form small {
  display: block;
  font-weight: 300;
  font-size: 1.2rem;
  width: 380px
}
#enquiry_form .form-actions {
  margin-left: 34.78261%
}
#enquiry_form .enquiry_nature_details p {
  font-weight: 400
}
#enquiry_form .required>label::after,
#enquiry_form .requiredable::after {
  content: ' *';
  color: #882345
}
#enquiry_form abbr[title="required"] {
  cursor: default;
  color: #882345
}
#enquiry_form small {
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  color: #5d6067
}
#enquiry_form .main>div.error-wrapper {
  position: relative
}
#enquiry_form .main>div.error-wrapper:before {
  display: block;
  background: #D3E7F5;
  color: #2989CE;
  padding: 10px 15px;
  position: absolute;
  content: "This field is required";
  right: -200px
}
#enquiry_form .main>div.error-wrapper:focus:before {
  display: none;
  content: ""
}
#errorExplanation {
  margin-bottom: 40px
}
@media screen and (max-width: 960px) {
  #contact-details #contact-details,
  #contact-details .address,
  #contact-details .telephone,
  #enquiry_form fieldset,
  #enquiry_form .enquiry_nature,
  #enquiry_form .main>div>label,
  #enquiry_form .form-actions,
  #enquiry_form .main input[type="text"] {
    margin-left: 0;
    width: 100%
  }
  #map {
    height: 350px
  }
  #enquiry_form .main>div.error-wrapper {
    position: relative
  }
  #enquiry_form .main>div.error-wrapper:before {
    right: 0;
    top: 3px
  }
}
@media screen and (max-width: 960px) {
  #contact-details {
    width: 100%;
    float: none;
    zoom: 1
  }
  #contact-details:before,
  #contact-details:after {
    content: "";
    display: table
  }
  #contact-details:after {
    clear: both
  }
  #contact-details .details {
    float: left;
    width: 50%;
    border-bottom: 1px solid #dddddd
  }
  #map {
    width: 100%;
    margin-left: 0;
    float: none
  }
}
@media screen and (max-width: 568px) {
  #contact-details .details {
    width: 100%;
    float: none
  }
}
.banner_image {
  margin: 30px 0 0
}
.banner_image img {
  display: block;
  margin: 0 auto
}
@media screen and (max-width: 960px) {
  .banner_image {
    margin-top: 0
  }
}
.banner_image+.breadcrumb {
  margin-top: 0;
  border-top: 0
}
.filter-nav {
  zoom: 1;
  float: right;
  margin-top: 10px
}
.filter-nav:before,
.filter-nav:after {
  content: "";
  display: table
}
.filter-nav:after {
  clear: both
}
.filter-nav form {
  margin-bottom: 0
}
.filter-nav label {
  vertical-align: top;
  margin-right: 30px;
  color: #882345;
  line-height: 45px;
  line-height: 4.5rem
}
.filter-nav .select {
  min-width: 250px
}
.filter-nav label,
.filter-nav .select {
  display: inline-block
}
.filter-nav input[type="submit"] {
  display: none
}
@media screen and (max-width: 568px) {
  .filter-nav {
    margin-top: -10px;
    margin-bottom: 30px
  }
  .filter-nav .select {
    width: 100%
  }
}
.filter-nav+h1 {
  float: left
}
#content-portal .module>.more {
  font-size: 18px;
  font-size: 1.8rem
}
#content-portal .module {
  zoom: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 50px
}
#content-portal .module:before,
#content-portal .module:after {
  content: "";
  display: table
}
#content-portal .module:after {
  clear: both
}
@media screen and (max-width: 568px) {
  #content-portal .more {
    display: none
  }
}
.news-rows {
  clear: both;
  list-style: none;
  border-top: 1px solid #dddddd;
  margin: 0 0 40px
}
.news-rows .date-pull {
  width: 50px;
  float: left;
  text-align: center
}
.news-rows .day {
  display: block;
  font-family: "Minion Pro", "Minion W08 Display", "Times New Roman";
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 48px;
  line-height: 4.8rem;
  color: #620030
}
.news-rows .month {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  color: #5d6067;
  letter-spacing: 1px;
  text-indent: -2px
}
.news-rows .news-summary {
  width: 100%;
  padding-left: 80px
}
.news-rows .news-summary figure img {
  max-width: 160px
}
.news-rows li {
  zoom: 1;
  padding: 30px 0;
  border-bottom: 1px solid #dddddd
}
.news-rows li:before,
.news-rows li:after {
  content: "";
  display: table
}
.news-rows li:after {
  clear: both
}
.pagination {
  margin-bottom: 50px;
  float: right;
  font-size: 18px;
  font-size: 1.8rem
}
.pagination .page {
  padding: 0 5px;
  display: inline-block
}
.mfp-open.mfp-open-gallery #bar-nav {
  z-index: 1030
}
.gallery_grid img,
.gallery_grid_lightbox img {
  display: block;
  margin-bottom: 0
}
.gallery_grid li>a,
.gallery_grid_lightbox li>a {
  display: block;
  position: relative
}
.gallery_grid_lightbox li>a:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #620030 url(/assets/icon_search_lrg-099a01e9d5e1276a133649569a6aa6f3.png) no-repeat 50% 50%
}
@media screen and (max-width: 960px) {
  .gallery_grid_lightbox li>a:hover:after {
    background: none
  }
}
#search_results ul {
  border-top: 1px solid #DDD;
  list-style: none;
  margin: 0
}
#search_results h3 {
  margin-bottom: 0
}
#search_results li {
  padding: 25px 0 20px;
  border-bottom: 1px solid #DDD
}
#embed-search fieldset {
  position: relative
}
#embed-search input[type="text"] {
  padding-right: 45px;
  border-right: none
}
#embed-search input[type="submit"] {
  width: 8.60215%;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #fff;
  background: none;
  padding: 0;
  height: 40px;
  width: 40px;
  text-indent: -9999em;
  background: url(/assets/icon_search-0033e4e588910de6eb310f2b08570cda.png) no-repeat 50% 50%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #882345
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0
}
.slick-list:focus {
  outline: none
}
.slick-loading .slick-list {
  background: #fff slick-image-url("ajax-loader.gif") center center no-repeat
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table
}
.slick-track:after {
  clear: both
}
.slick-loading .slick-track {
  visibility: hidden
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none
}
.slick-slide img {
  display: block
}
.slick-slide.slick-loading img {
  display: none
}
.slick-slide.dragging img {
  pointer-events: none
}
.slick-initialized .slick-slide {
  display: block
}
.slick-loading .slick-slide {
  visibility: hidden
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none
}
.slick-prev:focus,
.slick-next:focus {
  outline: none
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.slick-prev {
  z-index: 1000;
  left: 0px
}
.slick-next {
  z-index: 1000;
  right: 0px
}
.slick-slider {
  margin-bottom: 30px
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer
}
.slick-dots li button:focus {
  outline: 0
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.slick-dots li.slick-active button:before {
  opacity: 0.75
}